<ion-header>
    <ion-toolbar>
        <ion-title>Edit Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <app-loading *ngIf="busy"></app-loading>

    <div *ngIf="!busy">



        <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)">
        <div>
            <ion-img class="profile-pic" (click)="updateProfilePic()" src="http://ucarecdn.com/{{ profilePic }}/-/preview/{{ effect }}"></ion-img>
        </div>

        <div class="profile-info">
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="userName" disabled></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">User Name</ion-label>
                <ion-input [(ngModel)]="displayName"></ion-input>
            </ion-item>

            <!-- <ion-item>
                <ion-label position="floating">Gneder</ion-label>
                <ion-input [(ngModel)]="gender"></ion-input>
            </ion-item> -->

            <ion-item>
                <ion-label position="floating">New Password</ion-label>
                <ion-input clearInput [(ngModel)]="newpassword" type="password" required></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Enter Old Password</ion-label>
                <ion-input clearInput [(ngModel)]="password" type="password" required></ion-input>
            </ion-item>
            <ion-button fill="solid" expand="block" style="color:#ffffff ; --background: #5db8ce;" (click)="updateDetails()">Save</ion-button>
        </div>
    </div>
</ion-content>