<ion-content padding style="background-image: url(/assets/image/backgroudregister2.png); background-size: cover;">
    <form #form="ngForm">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <img src="../assets/image/logo2.png" alt="" width="150px" height="150px" />
                        <h3 style="color: #e9bd3f;">REGISTER</h3>
                        <p>Already have an account, please login</p>
                        <ion-chip color="danger" routerLink='/login' style="background: #ffd760;">
                            <ion-label style="color: white;">Login</ion-label>
                        </ion-chip>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input clearInput name="email" type="text" placeholder="your@email.com"
                                [(ngModel)]="userName" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input clearInput name="email" type="text" placeholder="User Name"
                                [(ngModel)]="displayName" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input clearInput name="password" type="password" placeholder="Password"
                                [(ngModel)]="password" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input clearInput name="password" type="password" placeholder="Confirm Password"
                                [(ngModel)]="cPassword" ngModel required></ion-input>
                        </ion-item>
                        <ion-radio-group>
                            <ion-item *ngFor="let item of gender">

                                <ion-label>{{item.text}}</ion-label>
                                <ion-radio slot="start" (ionFocus)="getGender(item.text)"></ion-radio>
                            </ion-item>
                        </ion-radio-group>
                        <ion-item *ngIf="checkAccount">
                            <ion-input clearInput name="Code" type="text" placeholder="Confirm Admin Code"
                                [(ngModel)]="adminCode" ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button class="my-button" size="large" type="submit" [disabled]="form.invalid"
                            expand="block" (click)="register()" style="color: #ffffff;">Register</ion-button>
                        <div (click)=resetPassword() text-center (click)="resetPassword()">
                            <a>
                                <p style="padding-left: 20px;">Lost password?</p>
                            </a>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <br>
</ion-content>