input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

ion-item {
    --background: #fffff;
    --color: #00000;
    --border: 1px solid #ccc;
}

ion-button {
    --background: #75c1f9;
}

.my-button:hover{
    color: #75c1f9 !important;
  --background-hover: #ffffff;
}

a {
    color: #75c1f9;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    font-size: small;
}

ion-content{
    --background: none;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

