<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title style="text-align: center; color: white;">{{ displayName }} <ion-icon *ngIf="checkAccount()"
                color="primary" name="checkmark-circle"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <!-- <app-loading *ngIf="!posts"></app-loading> -->

    <ion-item lines="none" *ngIf="displayName">

        <ion-avatar style="width: 45px;
      height: 45px;">
            <ion-img src="http://ucarecdn.com/{{ profilePic}}/-/preview/"></ion-img>
        </ion-avatar>
        <ion-label style="margin: 5px;">
            <div class="info_box">
                <div class="date_box">
                    <b>{{postCount}}</b>
                    <p>posts</p>
                </div>
                <div class="date_box">
                    <b>{{follower}}</b>
                    <p *ngIf="follower <= '1'">follower</p>
                    <p *ngIf="follower > '1'">followers</p>
                </div>
                <div class="date_box">
                    <b>715</b>
                    <p>following</p>
                </div>
            </div>
        </ion-label>
    </ion-item>

    <!-- <section class="full-width">
      <ion-button  size="small" expand="full" shape="round" style="color: #ffffff; --background: #43a6be;" routerLink="/tabs/edit-profile">Edit Profile
      </ion-button>
  </section> -->


    <ion-button class="icon_button" shape="round" size="small" fill="outline" (click)="follow()">follow</ion-button>
    <ion-icon (click)="follow()" [name]="heartType" [color]="heartColor"></ion-icon>
    <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
        <ion-icon color="dark" slot="icon-only" name="person-circle"></ion-icon>
        <ion-icon color="dark" slot="icon-only" name="checkmark"></ion-icon>
    </ion-button>
    <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
        <ion-icon color="dark" slot="icon-only" name="caret-down"></ion-icon>
    </ion-button>

    <ion-item lines="none">
        <ion-label>
            <h3><b>{{ userName }}</b></h3>
            <p>Fashion-designer, London UK</p>
            <h3>Có <b>levanb, danchoi_1</b> và <b>12 người khác</b> theo dõi</h3>
        </ion-label>
    </ion-item>

    <ion-segment color="medium">
        <ion-segment-button>
            <ion-icon name="apps"></ion-icon>
        </ion-segment-button>
        <ion-segment-button>
            <ion-icon name="person-circle"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <!-- *ngIf="(userPosts | async)?.posts as posts" -->
    <div id="images">
        <div class="img_box" *ngFor="let post of postRef | async">
            <img *ngIf="post.data.typeFile == 'image'" (click)="goTo(post.id)" height="100%" width="100%" class="main-image" style=" object-fit: cover;"
                src="{{post.data.image}}">
            <video *ngIf="post.data.typeFile == 'video'" (click)="goTo(post.id)" width="auto" controls="controls" preload="metadata"
                webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source src="{{post.image}}" type="video/mp4" />
            </video>
        </div>
    </div>
</ion-content>