<ion-header>
    <ion-toolbar>
        <ion-title>post</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>

    <app-loading *ngIf="!post"></app-loading>

    <ion-card *ngIf="post as postData">
        <img (dblclick)="toggleHeart()" src="http://ucarecdn.com/{{ postID }}/-/preview/{{ effect }}">
        <div class="interactive">
            <ion-icon (click)="toggleHeart()" [name]="heartType" [color]="heartColor"></ion-icon>
            <ion-icon name="chatbubble-outline" color="dark"></ion-icon>
            <ion-icon (click)="sendShare(messageBody.innerText, 
            messageSubject.innerText, 'https://ionicframework.com/docs')" name="paper-plane-outline" color="dark">
            </ion-icon>
            <p class="insta-text"><b>428 Likes</b></p>
            <p class="insta-text"><b>{{ postData.author }}</b> {{ postData.desc }}</p>
        </div>
        <ion-label style="font-size: 9px;padding: 0; margin: 5px 0px 5px 14px;">15 tháng 3</ion-label>
        <hr>
        <ion-chip style="background: none;">
            <ion-avatar>
                <img src="http://ucarecdn.com/{{ profilePic }}/-/preview/{{ effect }}">
            </ion-avatar>
            <p class="insta-text"><b>{{ postData.author }}</b></p>
        </ion-chip>
        <ion-label>
            <p class="insta-text" style="margin: 0px;
            margin-left: 50px;
            padding: 0px;">{{ postData.desc }}</p>
        </ion-label>

        <ion-chip style="background: none;">
            <ion-avatar>
                <img src="http://ucarecdn.com/{{ profilePic }}/-/preview/{{ effect }}">
            </ion-avatar>
            <p class="insta-text"><b>{{ postData.author }}</b></p>
        </ion-chip>
        <ion-label>
            <p class="insta-text" style="margin: 0px;
            margin-left: 50px;
            padding: 0px;">{{ postData.desc }}</p>
        </ion-label>
    </ion-card>

</ion-content>