
.interactive ion-icon{
    font-size: 20px;
    margin: 5px;
}
ion-content {

    ion-card {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        max-width : 100% !important;
        margin: 0 !important;
    }
}

.insta-text {
    font-size: 13px;
    margin: 0px 6px 4px 6px;
  }
  hr {
    height: 2px !important;
    width: 100% !important;
    background: #d5d5d5 !important;
  }

/* Post styling */
.post {
	position: relative;
	cursor: pointer;
}
.insta-post {
	height: auto;
	border-radius: 5px;
}
.likes {
	font-size: 1.5em;
	margin-top: 8px;
	color: #3a3a3a;
}
.heart-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: drop-shadow(0 19px 38px rgba(0, 0, 0, 0.7));
	transform-origin: center center;
	width: 0;
}
/* Tap animation */
.animate-like {
	animation: 2s animateLike ease-in-out forwards;
}
@keyframes animateLike {
	0% {
		width: 0;
	}
	5% {
		width: 180px;
	}
	10% {
		width: 150px;
	}
	20%,
	35% {
		width: 160px;
	}
	40%,
	100% {
		width: 0;
	}
}

.user-comments{
	padding-bottom: 10px;
}

.comment-area{
	border: 1px solid  rgba(255, 255, 255, 0.453);
	margin: 0px;
	padding: 0px;
	border-radius: 5px;
	width: 100%;
}

.comment-button{
	width: 100%;
	margin: 0px;
	padding: 0px;
	height:100%;
	color: #ffffff !important;
	background-color: #f6b498;
}
*:focus {
    outline: 0 !important;
}
.icon-photo{
	border-radius:50% !important;
	margin-top: 10px;
	height: 1.5em !important;
	width: 1.5em !important;
}

// .post-content{
// 	border-bottom: 1px solid rgba(160, 160, 160, 0.453);
// 	padding-bottom: 10px;
// }

.user-comments{
	padding-bottom: 10px;
}
.new-background-color{
	--background: #97daeb;

}
.scoll{
	::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
}
.my-button:hover{
	  --background-hover: white;
	}