@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

h1{
    font-family: 'Fredericka the Great', cursive;
}
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

ion-item {
    --background: #fffff;
    --color: #00000;
    --border: 1px solid #ccc;
}

ion-button {
    --background: #75c1f9;
}

.my-button:hover{
color: #75c1f9 !important;
  --background-hover: #ffffff;
}

a {
    color: #75c1f9;
    text-align: center;
}

a {
    text-decoration: none;
}

p {
    font-size: small;
}

ion-content{
    --background: none;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.home-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.home-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.home-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after{
    animation-delay: 3.0s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after{
    animation-delay: 3.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}
