input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

ion-item {
    --background: #fffff;
    --color: #00000;
    --border: 1px solid #ccc;
}

ion-button {
    --background: #f6b498;
}

a {
    color: #a6a6a6;
}

a {
    text-decoration: none;
}

p {
    font-size: small;
}