<ion-content padding style="background-image: url(/assets/image/backgroudlogin.png); background-size: cover;">
    <form #form="ngForm">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <img src="/assets/image/logo2.png" alt="" width="150px" height="150px" />
                        <h1 class="home-title">
                            <span>Aqual Ul Kit</span>
                        </h1>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input name="email" type="text-center" placeholder="your@email.com"
                                [(ngModel)]="userName" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="password"
                                ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button class="my-button" size="large" type="submit" [disabled]="form.invalid"
                            expand="block" (click)="logIn()" style="color: #ffffff;">LOGIN</ion-button>
                        <a (click)="resetPassword()">
                            <p><b>LOST PASSWORD?</b></p>
                        </a>
                        OR
                        <a routerLink='/register'>
                            <p><b>REGISTRATION</b></p>
                        </a>
                        <br>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>