<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar.svg">
    </ion-avatar>
      <ion-button color="primary" slot="end">Primary</ion-button>
    <ion-label>
      <h3>nghinhthu</h3>
      <p>followed you</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar.svg">
    </ion-avatar>
    <img slot="end" src="./avatar.svg">
    <ion-label>
      <h3>nghinhthu</h3>
      <p>commented on the post</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="./avatar.svg">
    </ion-avatar>
      <ion-button color="light" slot="end">Watching</ion-button>
    <ion-label>
      <h3>nghinhthu</h3>
      <p>followed you</p>
    </ion-label>
  </ion-item>
</ion-content>
