.new-background-color{
    --background: rgb(2,0,36);
    --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(100,189,255,1) 0%, rgba(190,248,255,1) 100%);
}
ion-content {
    --background: url(../../assets/image/backgroudprofile.png) no-repeat top center/cover fixed, #fff;
    position: relative;
    height: 100%;
    width: 100%;
}
ion-item {
    --background: none;
   
}
.card {
    margin: 0 auto;
    
    .header {
        height: 100px;

        .avatar {
            width: 100px;
            height: 100px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                position: absolute;
            }
        }
    }
}