<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
            <ion-button (click)="presentAlertMultipleButtons()">
                <ion-icon src="/assets/icons/power.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title style="text-align: center;">
            <img src="../../assets/image/instagram-new-logo-1024x3662.png">
        </ion-title>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon src="/assets/icons/menu.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-loading *ngIf="!posts"></app-loading>
    <ion-card *ngFor="let post of posts | async">
        <ion-card class="card-1" (click)="goTo(post.postID)"> 
            <ion-img *ngIf="post.typeFile == 'image'" (click)="goTo(post.postID)" src="{{post.image}}"></ion-img>
            <video  *ngIf="post.typeFile == 'video'"  width="auto" controls>
                <source src="{{post.image}}" type="video/mp4" />
            </video>  
            <ion-grid>
                <ion-row> 
                    <ion-col col-12> 

                        <b (click)="goToUser(post.userID)" style="color: black;">{{post.author}}</b>
                        {{post.title}}
                    </ion-col>

                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <b style="font-size: small;">{{ post.published.toDate() | date: 'dd MMM, yyyy' }}</b>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </ion-card>
    </ion-card>


</ion-content>