ion-header img {
    height: 47px;
    margin-top: 4px;
}

.interactive {
    margin: 5px;
}

.interactive ion-icon {
    font-size: 20px;
    margin: 5px;
}



hr {
    height: 2px !important;
    width: 100% !important;
    background: #d5d5d5 !important;
  }

  ion-avatar img {
    border: 2px solid white;
  }
  ion-label {
    font-size: 14px!important;
    font-weight: 700;
    color: #1e2023!important;
    margin-left: 5px;
  }
  .post_img {
    width: 100%;
  }
  .flex-button {
    display: flex;
    justify-content: space-between;
  }
  .flex-button ion-icon {
    font-size: 26px;
    margin: 4px;
    color: #86888f;
  }
  
  .insta-text {
    font-size: 13px;
    margin: 0px 6px 4px 6px;
  }

  ion-badge{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
 
  }
  .new-background-color{
    --background: rgb(2,0,36);
    --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(100,189,255,1) 0%, rgba(190,248,255,1) 100%);
}



video {
  width: 100%;
  height: auto;
}

.new-background-color{
  .button:hover {--background-hover: none}
}
ion-content {
  --background: url(../../assets/image/backgroudprofile.png) no-repeat top center/cover fixed, #fff;
  position: relative;
  height: 100%;
  width: 100%;
}
ion-card{
  --background: none !important;
  --border: none;
}
.card-1{
  webkit-box-shadow: none;
  box-shadow: none;
}