<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            <img src="../../assets/image/instagram-new-logo-1024x366.png">
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark">
                <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <ion-button expand="block" (click)="logOut()">LogOut</ion-button>
</ion-content>