<ion-tabs #tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="feed">
            <ion-icon src="/assets/icons/home-outline.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="search">
            <ion-icon src="/assets/icons/search-outline.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="upload">
        </ion-tab-button>

        <ion-tab-button tab="notification">
            <ion-icon src="/assets/icons/heart-outline.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon style="color: #E55F00;" src="/assets/icons/person-circle-outline.svg"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" edge="false" (click)="upload()">
    <ion-fab-button type="button">
        <ion-icon src="/assets/icons/add-outline.svg"></ion-icon>
    </ion-fab-button>
</ion-fab>