
input[type="button"] {

    display: block;
    background-color: gray;
    color: white;
    border: none;
  }

  .tab-selected{
//   background: #68c9e1 !important;
    border-width:5px;
    color: #88c5f2 !important;
    border-bottom-style: solid;  
    ion-button{
        --color: #88c5f2
    }
}

ion-icon{
    font-size:23px;
}
ion-fab-button{
    --background: rgb(2,0,36);
    --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(100,189,255,1) 0%, rgba(190,248,255,1) 100%);
}
ion-fab-button:hover{
    --background: rgb(2,0,36);
    --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(100,189,255,1) 0%, rgba(190,248,255,1) 100%);
}