<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            <ion-icon color="medium" name="arrow-back" style="padding-left: -10%;"></ion-icon>
            <ion-icon color="medium" name="settings" style="padding-left: 80%;"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-item class="name" lines="none">
        <ion-avatar slot="start" style="width: 50px; height: 50px;">
            <img src="https://pbs.twimg.com/media/DW4RT4LU8AE_8kt.jpg ">
        </ion-avatar>
        <ion-label>
            <h3>Name nè</h3>
            <p>Giới tính</p>
        </ion-label>
    </ion-item>

    <ion-item class="box">

    </ion-item>

</ion-content>