<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>User name</ion-title>

        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item lines="" style="padding-left: 10px;">
        <ion-avatar slot="start" style="width: 60px; height: 60px">
            <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/83065887_568283693902371_4724702825781657600_n.jpg?_nc_cat=108&_nc_ohc=mWuzU4KL5N4AX_olV0c&_nc_ht=scontent.fsgn3-1.fna&oh=c4217141a871e0acef71e6828f6d4b52&oe=5EB6C607">
        </ion-avatar>
        <ion-label>
            <h3>Name</h3>
            <p>Description</p>
            <!-- <p>consectetur adipiscing elit. Duis ut urna neque.</p> -->
        </ion-label>
    </ion-item>

    <ion-tabs style="padding-top: 70px;">
        <ion-tab-bar slot="top">
            <ion-tab-button tab="schedule">
                <!-- <ion-icon name="calendar" style="width: 20px; height: 20px;"></ion-icon> -->
                <ion-label>100</ion-label>
                <ion-label>Bài Viết</ion-label>
                <!-- <ion-label style="color: #f6b498;">Bài Viết</ion-label> -->
            </ion-tab-button>

            <ion-tab-button tab="map">
                <ion-label>100</ion-label>
                <ion-label>Bài Viết</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="about">
                <ion-label>100</ion-label>
                <ion-label>Bài Viết</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>

    <ion-item class="card" fullscreen>
        <ion-card>
            <ion-card-header style="padding-left: 0px;">
                <!-- <ion-card-subtitle>Destination</ion-card-subtitle>
                <p>09-03-2012</p> -->
                <ion-item lines="none">
                    <ion-avatar slot="start" style="width: 60px; height: 60px">
                        <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/83065887_568283693902371_4724702825781657600_n.jpg?_nc_cat=108&_nc_ohc=mWuzU4KL5N4AX_olV0c&_nc_ht=scontent.fsgn3-1.fna&oh=c4217141a871e0acef71e6828f6d4b52&oe=5EB6C607">
                    </ion-avatar>
                    <ion-label>
                        <h3>Name</h3>
                        <p>Datetime</p>
                        <!-- <p>consectetur adipiscing elit. Duis ut urna neque.</p> -->
                    </ion-label>
                </ion-item>
            </ion-card-header>
            <img src="https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-9/83065887_568283693902371_4724702825781657600_n.jpg?_nc_cat=108&_nc_ohc=mWuzU4KL5N4AX_olV0c&_nc_ht=scontent.fsgn3-1.fna&oh=c4217141a871e0acef71e6828f6d4b52&oe=5EB6C607" />

            <ion-card-content style="font-size: 13px;">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus repellendus officiis ex vitae reiciendis laudantium nostrum explicabo expedita totam alias voluptates amet, similique delectus quibusdam culpa voluptatum, veniam perspiciatis qui?
            </ion-card-content>
        </ion-card>
    </ion-item>


</ion-content>