// ion-content {
//     --background: #fff url('/assets/image/2/box.jpg') 20px 0/90% 100% no-repeat;
// }
$colors: ( primary: #f9961e, secondary: #882e2e, danger: #f84e4e, light: #f4f4f4, dark: #222, pinkPastel: #f6b498, );
.card {
    padding-top: 60px;
    padding-left: auto;
    padding-right: auto;
    width: auto;
    height: auto;
}