<ion-header>
    <ion-toolbar class="new-background-color">
        <ion-title style="text-align: center; color: white;">{{ displayName }} <ion-icon *ngIf="checkAccount()"
                color="primary" name="checkmark-circle"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <!-- <app-loading *ngIf="!posts"></app-loading> -->

    <ion-item lines="none" *ngIf="displayName">

        <ion-avatar style="width: 45px;
        height: 45px;">
            <ion-img src="http://ucarecdn.com/{{ profilePic}}/-/preview/"></ion-img>
        </ion-avatar>
        <ion-label style="margin: 5px;">
            <div class="info_box">
                <div class="date_box">
                    <b>{{postCount}}</b>
                    <p *ngIf="postCount <= '1'">post</p>
                    <p *ngIf="postCount > '1'">posts</p>
                </div>
                <div class="date_box">
                    <b>{{follower}}</b>
                    <p *ngIf="follower <= '1'">follower</p>
                    <p *ngIf="follower > '1'">followers</p>
                </div>
                <div class="date_box">
                    <b>{{following}}</b>
                    <p *ngIf="following <= '1'">following</p>
                    <p *ngIf="following > '1'">followings</p>
                </div>
            </div>
        </ion-label>
    </ion-item>

    <section class="full-width">
        <ion-button size="small" expand="full" shape="round" style="color: #ffffff; --background: #43a6be;"
            routerLink="/tabs/edit-profile">Edit Profile
        </ion-button>
    </section>

    <!-- <ion-note style="font-weight:bold">{{postCount+' Posts'}}</ion-note> -->

    <!-- <ion-button class="icon_button" shape="round" size="small" fill="outline" (click)="getProfilePic()">follow</ion-button> -->
    
    
    <!-- <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
        <ion-icon color="dark" slot="icon-only" name="person-circle"></ion-icon>
        <ion-icon color="dark" slot="icon-only" name="checkmark"></ion-icon>
    </ion-button>
    <ion-button class="icon_button" shape="round" size="small" fill="outline" color="medium">
        <ion-icon color="dark" slot="icon-only" name="caret-down"></ion-icon>
    </ion-button> -->

    <ion-item lines="none">
        <ion-label>
            <h3><b>{{ userName }}</b></h3>
            <p>Fashion-designer, London UK</p>
            <h3>Có <b>levanb, danchoi_1</b> và <b>12 người khác</b> theo dõi</h3>
        </ion-label>
    </ion-item>

    <ion-segment color="medium">
        <ion-segment-button>
            <ion-icon src="/assets/icons/apps.svg" (click)="toggle()"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (click)="toggle()">
            <ion-icon src="/assets/icons/person-circle.svg"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <!-- *ngIf="(userPosts | async)?.posts as posts" -->
    <div id="images" *ngIf="!show">
        <div class="img_box" *ngFor="let post of postRef | async" id="player-overlay">
            <img *ngIf="post.data.typeFile == 'image'" (click)="goTo(post.id)" height="100%" width="100%"
                class="main-image" style=" object-fit: cover;" src="{{post.data.image}}">
            <img *ngIf="post.data.typeFile == 'video'" (click)="goTo(post.id)" height="100%" width="100%" class="main-image" style=" object-fit: cover;"
                src="../../assets/image/video.jpg">
            <!-- <video *ngIf="post.data.typeFile == 'video'" (click)="goTo(post.id)" width="auto" controls="controls"
                preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source src="{{post.image}}" type="video/mp4" />
            </video> -->
        </div>
    </div>


    <!-- <div id="images" *ngIf="show">
        <div class="img_box" *ngFor="let post of postRef | async" id="player-overlay">
            
                <video *ngIf="post.data.typeFile == 'video'" (click)="goTo(post.id)" width="auto" controls="controls" preload="metadata"
                webkit-playsinline="webkit-playsinline" class="videoPlayer">
                <source src="{{post.image}}" type="video/mp4" />
            </video>
        </div>
    </div> -->



    <!-- <ion-grid class="image-grid">
        <ion-row class="single-row" >
          <ion-col col-4 class="single-image" *ngFor="let post of postRef | async">
            <img height="100%" width="100%" style=" object-fit: cover;" (click)="goTo(post.id)" src="{{post.data.image}}">
          </ion-col>
        </ion-row>
      </ion-grid> -->



    <!-- <div id="images">
        <ion-list>
          <ion-grid>
            <ion-row >
              <ion-col col-4 class="grid_img" class="img_box" *ngFor="let post of postRef | async">
                <img class="scale" (click)="goTo(post.id)" src="{{post.data.image}}" alt="" style="width:200px; height:100px; background-position:center;">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list>
    </div> -->
</ion-content>