#images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 100%;
    width: 606px;
    // padding-bottom: 20px;
    // padding-top: 20px
}

.image {
    // width: 33%;
    // width: auto;
    // height: auto;
	margin-left: 1px;
    margin-right: 1px;
    // margin-top: 20px
}

.main-image{
    width: 200px;
    height: 200px;
}