<ion-header translucent no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light">
                <ion-icon src="/assets/icons/chevron-back-outline.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>&nbsp;</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <!-- <ion-icon src="/assets/icons/chevron-back-outline.svg"></ion-icon> -->
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">


    <div class="card" *ngIf="displayName">
        <div class="header">
            <div class="avatar">
                <img src="http://ucarecdn.com/{{ profilePic}}/-/preview/" alt="" style=" object-fit: cover;">
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="user-meta ion-text-center">
            <h4 class="playername">{{ displayName }} <ion-icon *ngIf="checkAccount()" color="primary"
                    name="checkmark-circle"></ion-icon>
            </h4>
            <p style="font-size: small;">Fashion-designer, London UK</p>
        </div>
        <ion-card>
            <div class="info_box">
                <div class="date_box">
                    <b>{{postCount}}</b>
                    <p *ngIf="postCount == '0' || postCount == '1'">post</p>
                    <p *ngIf="postCount > '1'">posts</p>
                </div>
                <div class="date_box">
                    <b>{{follower}}</b>
                    <p *ngIf="follower == '0' || follower == '1'">follower</p>
                    <p *ngIf="follower > '1'">followers</p>
                </div>
                <div class="date_box">
                    <b>{{following}}</b>
                    <p *ngIf="following == '0' || following == '1'">following</p>
                    <p *ngIf="following > '1'">followings</p>
                </div>
            </div>
        </ion-card>
        <section class="full-width">
            <ion-button size="small" expand="full" shape="round" style="color: #ffffff; --background: #43a6be;"
                routerLink="/tabs/edit-profile">Edit Profile
            </ion-button>
        </section>


    </div>

    <div id="images" *ngIf="!show">
        <div class="img_box" *ngFor="let post of postRef | async" id="player-overlay">
            <img *ngIf="post.data.typeFile == 'image'" (click)="goTo(post.id)" height="119px" width="119px"
                class="main-image" style=" object-fit: cover;" src="{{post.data.image}}">
            <img *ngIf="post.data.typeFile == 'video'" (click)="goTo(post.id)"  height="119px" width="119px"
                class="main-image" style=" object-fit: cover;" src="../../assets/image/video.jpg">
        </div>
    </div>
</ion-content>